*.swp
/nbproject/
/nbproject/private/
/build/
/dist/
/test/
/web/test/
/web/common/.sass-cache/
build.xml
/libraries/CopyLibs/
/web/META-INF/*
*.iml
.gradle
/web/admin/OWGIS_Mob_v1/local.properties
/web/admin/OWGIS_Mob_v1/.idea/caches
/web/admin/OWGIS_Mob_v1/.idea/libraries
/web/admin/OWGIS_Mob_v1/.idea/modules.xml
/web/admin/OWGIS_Mob_v1/.idea/workspace.xml
/web/admin/OWGIS_Mob_v1/.idea/navEditor.xml
/web/admin/OWGIS_Mob_v1/.idea/assetWizardSettings.xml
/web/admin/OWGIS_Mob_v1/.DS_Store
*.DS_Store
/web/admin/OWGIS_Mob_v1/build
/web/admin/OWGIS_Mob_v1/app/build
/web/admin/OWGIS_Mob_v1/captures
/web/admin/OWGIS_Mob_v1/.externalNativeBuild