/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2014, 2:52:33 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* line 13, ../scss/Animations.scss */
#animContainer {
  position: absolute;
  min-width: 100px;
  height: 100px;
  z-index: 10030;
}

/* line 21, ../scss/Animations.scss */
#animControls {
  top: 40%;
  left: 50%;
  min-width: 13em;
  padding: 0px 20px;
}

/* line 28, ../scss/Animations.scss */
.warning {
  color: #EC451F;
}

/* line 29, ../scss/Animations.scss */
.btn-default.warning:hover, .btn-default.warning:focus {
  color: #c73311;
}