#animContainer {
  position: absolute;
  min-width: 100px;
  height: 100px;
  z-index: 10030;
}
#animControls {
  top: 40%;
  left: 50%;
  min-width: 13em;
  padding: 0px 20px;
}
.warning {
  color: #EC451F;
}
.btn-default.warning:hover, .btn-default.warning:focus {
  color: #c73311;
}