/*
This file defines the styles for the Base layers 
*/
/* 
    Created on : Sep 23, 2013, 1:57:39 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* Extra styling for the mainlayer dropdowns */
/* line 15, ../scss/BaseLayers.scss */
.mainMenu {
  font-size: 15px;
  width: 165px;
  color: black;
  background-color: #909090;
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  margin: 1px 0px;
}
/* line 21, ../scss/BaseLayers.scss */
.mainMenu:hover {
  background-color: #777777;
}

/* The 'MainMenu'(base layers dropdowns) container */
/* line 29, ../scss/BaseLayers.scss */
#mainMenuParent {
  top: 60px;
  left: 50px;
  width: 180px;
}

/* Table that contains the menu for the base layers*/
/* line 36, ../scss/BaseLayers.scss */
#t_mainMenu {
  margin: .5em 0 .5em 0;
  background-color: transparent;
}

/* line 42, ../scss/BaseLayers.scss */
#mainMenuParentHover {
  left: 200px;
}
