/*
This file defines the styles for the Base layers 
*/
/* 
    Created on : Sep 23, 2013, 1:57:39 PM
    Author     : olmozavala
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : olmozavala
*/
/* Extra styling for the mainlayer dropdowns */
/* line 15, ../scss/BaseLayers.scss */
.mainMenu {
  font-size: 15px;
  width: 165px;
  color: black;
  background-color: #919191;
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  margin: 1px 0px;
}
/* line 21, ../scss/BaseLayers.scss */
.mainMenu:hover {
  background-color: #737373;
}

/* The 'MainMenu'(base layers dropdowns) container */
/* line 29, ../scss/BaseLayers.scss */
#mainMenuParent {
  top: 60px;
  left: 50px;
  width: 180px;
}

/* Table that contains the menu for the base layers*/
/* line 36, ../scss/BaseLayers.scss */
#t_mainMenu {
  margin: .5em 0 .5em 0;
  background-color: transparent;
}

/* line 42, ../scss/BaseLayers.scss */
#mainMenuParentHover {
  left: 200px;
}
