.mainMenu {
  font-size: 15px;
  width: 165px;
  color: black;
  background-color: #909090;
  -moz-border-radius: 6px / 6px;
  -webkit-border-radius: 6px 6px;
  border-radius: 6px / 6px;
  margin: 1px 0px;
}
.mainMenu:hover {
  background-color: #777777;
}
#mainMenuParent {
  top: 60px;
  left: 50px;
  width: 180px;
}
#t_mainMenu {
  margin: .5em 0 .5em 0;
  background-color: transparent;
}
#mainMenuParentHover {
  left: 200px;
}
