/*
This file defines all the styles for the buttons on the site. 
Currently the buttons for the menu and the +,- buttons
*/
/* 
    Created on : Sep 23, 2013, 1:57:39 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* This class has some general properties that make a span
look like a button */
/* line 15, ../scss/Buttons.scss */
.buttonLook, .buttonStyle, .buttonContainer {
  border-style: none;
  /*border-width: 1px;*/
  background-color: #555555;
  /*border-color: $butBorderColor;*/
  padding: 5px 10px;
  color: #ecf2f8;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: #80ccdc 2px 2px 6px;
  -moz-box-shadow: #80ccdc 2px 2px 6px;
  box-shadow: #80ccdc 2px 2px 6px;
  /*@include box-sizing(content-box);*/
  margin: 5px 5px;
  height: 23px;
  display: inline;
  vertical-align: middle;
}

/* Buttons style, default style for buttons (used in transparency and xaxis),
and also the mainMenu dropdown options*/
/* line 34, ../scss/Buttons.scss */
.buttonStyle {
  cursor: pointer;
}
/* line 36, ../scss/Buttons.scss */
.buttonStyle:hover {
  background-color: #3b3b3b;
  -webkit-box-shadow: #dcc380 2px 2px 12px;
  -moz-box-shadow: #dcc380 2px 2px 12px;
  box-shadow: #dcc380 2px 2px 12px;
}
/* line 40, ../scss/Buttons.scss */
.buttonStyle:active {
  -webkit-box-shadow: #efe3c4 2px 2px 12px;
  -moz-box-shadow: #efe3c4 2px 2px 12px;
  box-shadow: #efe3c4 2px 2px 12px;
  background-color: #4d4d4d;
}

/* line 47, ../scss/Buttons.scss */
.beenUsed {
  -webkit-box-shadow: #80ccdc 2px 2px 6px;
  -moz-box-shadow: #80ccdc 2px 2px 6px;
  box-shadow: #80ccdc 2px 2px 6px;
  background-color: #1a7979;
}

/* line 53, ../scss/Buttons.scss */
.buttonStyleCompressed {
  padding: 0px;
  margin: 0px;
  display: inline;
  vertical-align: middle;
  color: #ecf2f8;
  background-color: #555555;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 23px;
}
/* line 62, ../scss/Buttons.scss */
.buttonStyleCompressed:hover {
  background-color: #3b3b3b;
}
/* line 65, ../scss/Buttons.scss */
.buttonStyleCompressed:active {
  background-color: #4d4d4d;
}

/* This is just a container of buttons in the top menu, specifically
for transparency and depth*/
/* line 72, ../scss/Buttons.scss */
.buttonContainer {
  background-color: transparent;
  background-image: url("../images/transBack.png");
  padding: 7px 10px;
}

/* This are also plus and minus buttons, but are
smaller and doesn't have background. Currently are used
for transparency in the optional layers. */
/* line 83, ../scss/Buttons.scss */
.minusButtonSmall, .plusButtonSmall {
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
}

/* line 91, ../scss/Buttons.scss */
.closeButton {
  float: right;
}
