.buttonLook, .buttonStyle, .buttonContainer {
  border-style: none;
  background-color: #555555;
  padding: 5px 10px;
  color: #ECF2F8;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: #80CCDC 2px 2px 6px;
  -webkit-box-shadow: #80CCDC 2px 2px 6px;
  box-shadow: #80CCDC 2px 2px 6px;
  margin: 5px 5px;
  height: 23px;
  display: inline;
  vertical-align: middle;
}
.buttonStyle {
  cursor: pointer;
}
.buttonStyle:hover {
  background-color: #3c3c3c;
  -moz-box-shadow: #DCC380 2px 2px 12px;
  -webkit-box-shadow: #DCC380 2px 2px 12px;
  box-shadow: #DCC380 2px 2px 12px;
}
.buttonStyle:active {
  -moz-box-shadow: #efe3c4 2px 2px 12px;
  -webkit-box-shadow: #efe3c4 2px 2px 12px;
  box-shadow: #efe3c4 2px 2px 12px;
  background-color: #4d4d4d;
}
.beenUsed {
  -moz-box-shadow: #80CCDC 2px 2px 6px;
  -webkit-box-shadow: #80CCDC 2px 2px 6px;
  box-shadow: #80CCDC 2px 2px 6px;
  background-color: #1A7979;
}
.buttonStyleCompressed {
  padding: 0px;
  margin: 0px;
  display: inline;
  vertical-align: middle;
  color: #ECF2F8;
  background-color: #555555;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 23px;
}
.buttonStyleCompressed:hover {
  background-color: #3c3c3c;
}
.buttonStyleCompressed:active {
  background-color: #4d4d4d;
}
.buttonContainer {
  background-color: transparent;
  background-image: url("../images/transBack.png");
  padding: 7px 10px;
}
.minusButtonSmall, .plusButtonSmall {
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
}
.closeButton {
  float: right;
}
.ol-attribution {
    bottom: 50px;
}