/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala Romero
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : olmozavala
*/
/* Stop animation button */
/* line 11, ../scss/Calendars.scss */
#s-animation {
  display: none;
  cursor: pointer;
  font-size: 12px;
  z-index: 1009;
  white-space: nowrap;
  text-align: center;
}

/* This is the Loading text */
/* line 21, ../scss/Calendars.scss */
#l-animation {
  visibility: hidden;
  position: absolute;
  margin: auto;
  top: 30%;
  left: 40%;
  z-index: 1009;
  pointer-events: none;
  font-size: 18px;
}

/* Calendars container */
/* line 33, ../scss/Calendars.scss */
#CalendarsAndStopContainer {
  top: 209px;
  left: 50px;
  padding-right: 12px;
  width: 380px;
}

/* line 43, ../scss/Calendars.scss */
#timeSelect {
  width: 170px;
}
