/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala Romero
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : olmozavala
*/
/* This is the Loading text */
/* line 12, ../scss/Calendars.scss */
#l-animation {
  position: absolute;
  margin: auto;
  top: 30%;
  left: 40%;
  z-index: 1009;
  pointer-events: none;
  font-size: 18px;
}

/* Calendars container */
/* line 24, ../scss/Calendars.scss */
#CalendarsAndStopContainer {
  top: 209px;
  left: 50px;
  padding-right: 12px;
  width: 380px;
}

/* line 34, ../scss/Calendars.scss */
#timeSelect {
  width: 170px;
}
