#l-animation {
  position: absolute;
  margin: auto;
  top: 20%;
  left: 40%;
  z-index: 1009;
  pointer-events: none;
  font-size: 20px;
}
#CalendarsAndStopContainer {
  top: 209px;
  left: 50px;
  width: fit-content !important;
}
#timeSelect {
  color: #000; 
  background-color: #909090e6;
  border: 2px solid #9ea2a5;
  border-radius: 6px;
}
#startTimeCalendar, #endTimeCalendar {
    margin-top: 5px;
    color: #000;
    background-color: #909090e6;
    border: 2px solid #9ea2a5;
    border-radius: 6px;
}
#startTimeCalendar:hover , #endTimeCalendar:hover, #timeSelect:hover{
    background-color: #777777;
}