#ocqlFilterInputTextParent {
  display: none;
  left: 200px;
  top: 30px;
}
/* Input text for CQL filter */
/* Button to show and hide CQL filter text box*/
#ocqlMenuButtonParent {
  position: relative;
  left: 10%;
}
/*Button at Main layers to open the Custom filter dialog*/
#idOcqlMenuButton {
  padding: 0 10px;
}
/* 'Apply' button for CQL filter */
#idOcqlFilterButton {
  display: inline;
  padding: 0 10px;
}
/* Span to input some error text */
#ocqlErrorParent {
  display: none;
  top: 200px;
}
/* Table containing hover help */
table.cqlFilterExampleTable {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}
table.cqlFilterExampleTable th {
  border-width: 1px;
  border-style: solid;
  text-align: center;
  background-color: #bbd6d6;
  padding: 2px 4px;
}
table.cqlFilterExampleTable td {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}
