/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 23, 2013, 5:57:54 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* CQL custom filter parent  */
/* line 12, ../scss/cqlFilter.scss */
#ocqlFilterInputTextParent {
  display: none;
  left: 200px;
  top: 30px;
}

/* Input text for CQL filter */
/* Button to show and hide CQL filter text box*/
/* line 22, ../scss/cqlFilter.scss */
#ocqlMenuButtonParent {
  position: relative;
  left: 10%;
}

/* 'Apply' button for CQL filter */
/* line 28, ../scss/cqlFilter.scss */
#idOcqlFilterButton {
  display: inline;
}

/* Span to input some error text */
/* line 33, ../scss/cqlFilter.scss */
#ocqlErrorParent {
  display: none;
  top: 200px;
}

/* Table containing hover help */
/* line 39, ../scss/cqlFilter.scss */
table.cqlFilterExampleTable {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

/* line 44, ../scss/cqlFilter.scss */
table.cqlFilterExampleTable th {
  border-width: 1px;
  border-style: solid;
  text-align: center;
  background-color: #a9a34c;
  padding: 2px 4px;
}

/* line 51, ../scss/cqlFilter.scss */
table.cqlFilterExampleTable td {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}
