/*
This stylesheet defines styles for the 'Currents' related styling
*/
/* 
    Created on : May 21, 2015, 2:14:42 PM
    Author     :  Olmo Zavala
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* Id of the div that contains both Palettes windows */
/* line 12, ../scss/Currents.scss */
#currentsControlsContainer {
  top: 245px;
  width: 180px;
  left: 40%;
  position: absolute;
  display: none;
}

/* line 20, ../scss/Currents.scss */
.colorPickerContainer {
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
