#currentsControlsContainer {
  top: 245px;
  width: 180px;
  left: 40%;
  position: absolute;
  display: none;
}
.colorPickerContainer {
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}