#zaxis_selector_parent {
  min-width: 100px;
  top: 45px;
  left: 40%;
  display: none;
}
.linkElevPageDef {
  font-size: 16px;
  color: #F9FFCB;
}
.linkElevPageSelected {
  font-size: 16px;
  color: #BBA364;
}
#elevationText {
  padding: 3px 10px;
  box-shadow: none;
}
#elevationParent{
    background-color: #555;
    background-image: none;
}
