.errorPopup {
  z-index: 1008;
  position: absolute;
  border: none;
  padding: 5px 5px 5px 5px;
  cursor: move;
  color: black;
  font-size: 13px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  color: #ECF2F8;
  background-color: #EC451F;
  top: 10%;
  left: 40%;
  z-index: 1010;
  position: absolute;
  display: none;
}
