.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.defRowSpace {
  margin: 5px 0px 5px 0px;
}
.doubleRowSpace {
  margin: 10px 0px 10px 0px;
}
.menuHidden {
  display: none;
}
.draggableWindow {
  z-index: 1008;
  position: absolute;
  border: none;
  padding: 5px 5px 5px 5px;
  cursor: move;
  color: black;
  font-size: 13px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  color: #ECF2F8;
  background-color: black;
}
.transDraggableWindow {
  z-index: 1008;
  position: absolute;
  border: none;
  padding: 5px 5px 5px 5px;
  cursor: move;
  color: black;
  font-size: 13px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.2);
}
.defShadow {
  color: #ECF2F8;
  text-shadow: black 0 2px 1px, black 2px 0 1px, black -2px 0 1px, black 0 -2px 1px, black 2px 2px 1px, black -2px 2px 1px, black 2px -2px 1px, black -2px -2px 1px;
}
.invShadow {
  color: black;
  text-shadow: #ECF2F8 0 2px 1px, #ECF2F8 2px 0 1px, #ECF2F8 -2px 0 1px, #ECF2F8 0 -2px 1px, #ECF2F8 2px 2px 1px, #ECF2F8 -2px 2px 1px, #ECF2F8 2px -2px 1px, #ECF2F8 -2px -2px 1px;
}
.noShadow {
  color: #ECF2F8;
}
.noShadowInv {
  color: black;
}
p {
  color: #ECF2F8;
}
html, body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
  
}
::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}
a {
  text-decoration: none;
}
.footNote {
  font-size: 12px;
  display: inline;
  padding-bottom: 5px;
}
.bigFontSize {
  font-size: 30px;
}
.loadingCursor {
  cursor: progress;
}
.defaultCursor {
  cursor: crosshair;
}
hr {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZjJmOCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWNmMmY4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ecf2f8), color-stop(50%, #000000), color-stop(100%, #ecf2f8));
  background-image: -moz-linear-gradient(#ecf2f8, #000000, #ecf2f8);
  background-image: -webkit-linear-gradient(#ecf2f8, #000000, #ecf2f8);
  background-image: linear-gradient(#ecf2f8, #000000, #ecf2f8);
}
#zaxis_selector_parent>div>div>a.btn.btn-default.btn-xs {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
}
.overload {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}