/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2014, 5:47:23 PM
    Author     : harshulpandav
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* line 14, ../scss/Locale.scss */
#languageContainer {
  z-index: 1019;
}

/* line 20, ../scss/Locale.scss */
#langDropDown li {
  min-width: 0px;
  padding: 0px;
  margin: 0px;
}

/* line 27, ../scss/Locale.scss */
#selectedLanguage {
  padding-bottom: 0px;
  padding-top: 0px;
}
