#helpInstrContainer {
  width: 70%;
  left: 20%;
  top: 80px;
  max-height: 70%;
  overflow-x: hidden;
  z-index: 1010;
  overflow-y: auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}
.commonHover {
  position: absolute;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  color: black;
  background-image: none;
  background-color: #DBE9E9;
  z-index: 1009;
  top: 1px;
  left: 1px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  text-align: left;
  min-width: 150px;
  display: none;
}
/* CQL filter parent of all the instructions*/
#ocqlFilterText {
  top: 120px;
  left: 40px;
  display: none;
}
#helpHoverSpan {
  z-index: 1019;
}
#helpIconHover {
  right: 10px;
  width: 150px;
}
