a.maplink {
  text-decoration: none;
  color: #ECF2F8;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
a.maplink:visited, a.maplink:focus, a.maplink:hover, a.maplink:active{
  color: #ECF2F8;
}
a.maplink:active, a.maplink:focus {
  outline: none;
}
a.maplink:hover {
  text-decoration: none;
}
