/* 
    Document   : Palettes
    Created on : Sept 25, 2013, 4:11:25 PM
    Author     : Olmo Zavala Romero
    Description:
        Styles for the Minimized tabs of windows. 
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : olmozavala
*/
/* line 12, ../scss/MinimizedWindows.scss */
#minimizedWindowsContainer {
  width: 100%;
  bottom: 3px;
  position: absolute;
}

/* line 19, ../scss/MinimizedWindows.scss */
.minimizedWindow {
  padding: 5px 10px 20px 10px;
  background-color: black;
  opacity: 0.7;
  display: none;
  position: relative;
  margin: 5px;
  cursor: default;
}
