#minimizedWindowsContainer {
  width: 100%;
  bottom: 62px;
  position: absolute;
}
.minimizedWindow {
  padding: 5px 10px 20px 10px;
  background-color: black;
  opacity: 0.7;
  display: none;
  position: relative;
  margin: 5px;
  cursor: default;
}