/* CQL custom filter parent (of textbox and 'apply' button) */
#ocqlFilterInputTextParent{
	display: none;
	left: 200px;
	top: 30px;
	padding: 2px 5px;
}

/* Input text for CQL filter */
#idOcqlFilterInputText{
	width:60%;
}



/* Button to show and hide CQL filter text box*/
#ocqlMenuButtonParent{
	position: relative;
	left: 10%;
}

/* 'Apply' button for CQL filter */
#idOcqlFilterButton{
	display:inline;
}

/* Span to input some error text */
#ocqlErrorParent{
	display:none;
	top: 200px;
}
/* Error text id */
#ocqlErrorText{
	color: red;
}

/* CQL filter parent of all the instructions*/
#ocqlFilterText{
	color:black;
	text-align: left;
	top: 85px;
	padding: 10px;
	width: 270px;
}

/* Table containing options */
table.cqlFilterExampleTable{
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}
table.cqlFilterExampleTable th{
	border-width: 1px;
	border-style: solid;
	text-align: center;
	background-color: #CBC361;
	padding: 2px 4px;
}
table.cqlFilterExampleTable td{
	padding: 6px;
	border-width: 1px;
	border-style: solid;
	text-align: center;
}

.cqlFilterTable
{
    
    
    /*background-color:black;*/
    
    z-index:1008;
    color: white;    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    margin-top: 2em;
    margin-bottom: 2em;
    border:solid 5px white;
    padding:3px;
    cursor: move;
    opacity:0.95;
    background-color:#000000;
    border-spacing: 5px 2px;
    font-size: 55px;
    width:500px;

}

#cqlhelptext
{
  position:absolute;
  top:300px;
 -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    border:solid 5px black;
 z-index:1008;
 padding:5px;
 
 width:350px;
 background-color: white;
 height:300px;
    
}

#ocqlFilterText #ocqlErrorParent{
    
    display:none;
    
}

