/* 
    Document   : Ol3
    Created on : Jun 24, 2013, 1:12:08 PM
    Author     : olmozavala
    Description:
        Purpose of the stylesheet follows.
*/

div.fullWindow {
	width: 100%;
	height: 100%;
}
div.halfWidthWindow{
	width: 50%;
	height: 100%;
}
div.halfHeightWindow{
	width: 100%;
	height: 50%;
}
