/* 
    Document   : Ol3
    Created on : Jun 24, 2013, 1:12:08 PM
    Author     : Olmo Zavala-Romero
    Description:
		This styles are mostly overrrides for OpenLayers 3
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* line 11, ../scss/Ol3.scss */
div.fullWindow {
  width: 100%;
  height: 100%;
}

/* line 15, ../scss/Ol3.scss */
div.halfWidthWindow {
  width: 50%;
  height: 100%;
}

/* line 19, ../scss/Ol3.scss */
div.halfHeightWindow {
  width: 100%;
  height: 50%;
}

/* container of map image of openlayers */
/* line 26, ../scss/Ol3.scss */
#map {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1020;
}

/* This is the class that the FTL from geoserver uses 
in most of their text */
/* line 36, ../scss/Ol3.scss */
.map_content {
  pointer-events: none;
}

/* line 42, ../scss/Ol3.scss */
.ol-zoom {
  top: 54px;
}

/* line 47, ../scss/Ol3.scss */
.ol-zoomslider {
  top: 114px;
}

/* This is the Scale line in the bottom of the map */
/* line 52, ../scss/Ol3.scss */
.ol-scale-line {
  bottom: 40px;
  left: 40%;
}

/* This is the position of the button to go fullscreen */
/* line 58, ../scss/Ol3.scss */
.ol-full-screen {
  top: 49px;
}

/* Defines to not display anything if the layer was not found*/
/* line 63, ../scss/Ol3.scss */
.olImageLoadError {
  display: none !important;
}

/* Used by open layers to display longitude and latitude */
/* line 68, ../scss/Ol3.scss */
.ol-lat-lon {
  color: black;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
}
