/* container of map image of openlayers */
#map
{
	width: 100%;
	height: 100%;
    cursor:crosshair;
    margin-left: auto ;
    margin-right: auto ;
	-moz-user-select: none
}



/* Thic class controls the complete popup (the content plust the close button area*/
.olPopup{
    border-radius: 10px;
}
/* This is the style of the OpenLayers pop up (Layer details)
   The font size has to be defined on JavaScript (It doesn't work here)
	This style only works when using default PopUp types (not clouds)
*/
div.olPopupContent{
    background-image:url('../images/transBack2.png');
    border-radius: 10px;
    /*overflow: hidden;*/
    width: 190px;
}

/* This is the div used to put the netCDF animation */
#mapOverlayDiv{
    position: absolute;
    visibility: hidden;
    width: 10%;
    height: 10%;
    top: 0%;
    left: 1%;
}

/* Defines the style for the PanPanel control */
div.olControlPanPanel{
    position:absolute;
    top:55px;
}
/* Defines the style for the ZoomPanel control */
div.olControlZoomPanel{
    position:absolute;
    top:110px;
}

/* Defines to not display anything if the layer was not found*/
.olImageLoadError{
	display: none !important;
}

/* This is the class that the punctual data from geoserver uses 
in most of their text */
.map_content{
    pointer-events: none;
}

/* Div to display latitude and longitude*/
div.layersLongLat{
    position:absolute;
    bottom:50px;
    right:5%;
    z-index:1000;
    display:inline;
    width: 150px;
    height:25px;
    padding-bottom:7px;
    padding-left:6px;
    text-align:left;
    background-image:url('../images/transBack.png');
    font-size: 12px;
	font-weight: normal;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 5px;

    pointer-events: none;
}
/* Used by open layers to display longitude and latitude */
#location {
    color: black;
    font-size: 12px;
    text-align: center;
    display: inline;
    margin: auto;
	font-weight: normal;
}

/* This is the small Scale line in the bottom of the map */
div.olControlScaleLine {
    display:table;
    table-layout:fixed;
    font-size: 0.5em;

    color:black;
    left:48%;
    bottom:48px;

    font-weight: bold;
    text-align:left;
}