#optionalMenuParent {
  min-width: 200px;
  top: 70px;
  left: 73%;
  transition: width 2s;
}
#optionalLayersParentHover {
  width: 200px;
  left: -230px;
}
.opt_lay_list_root {
  padding: 0px;
  margin: 8px 2px;
  list-style-type: none;
}
.opt_lay_list {
  list-style-type: none;
  padding-left: 10px;
  margin: 0px;
  display: none;
}
.opt_lay_title {
  font-size: 14px;
  margin: 5px 0px 0px 0px;
  cursor: pointer;
  color: #80CCDC;
}
.opt_lay_title:hover {
  color: #35a9c1;
}
.opt_lay_title:active {
  color: #1f6371;
}
.opt_lay_par {
  margin: 0px;
  font-size: 13px;
}