#palettesParent {
  position: absolute;
}
#palettes-div {
  top: 245px;
  left: 40%;
  position: absolute;
  display: none;
}
#div-palette-horbar {
  left: 1%;
  position: absolute;
  bottom: 10px;
  display: none;
}
#img-palette-horbar {
  display: none;
}
#canvas-palette-horbar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: black;
}
#paletteWindowColorRange {
  top: 245px;
  left: 60%;
  position: absolute;
  display: none;
}
.inputSizePalettes {
  height: 24px;
  padding: 5px 5px;
}
.optPaletteImg {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: black 2px 2px 4px;
  -webkit-box-shadow: black 2px 2px 4px;
  box-shadow: black 2px 2px 4px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 0px 1px;
}
.optPaletteImg:hover {
  -moz-box-shadow: #DCC380 2px 2px 6px;
  -webkit-box-shadow: #DCC380 2px 2px 6px;
  box-shadow: #DCC380 2px 2px 6px;
}
.btn-inverse{
    border-style: none;
    background-color: #110D0E;
    color: #eeeeee;
    -moz-box-shadow: #707070 2px 2px 6px;
    -webkit-box-shadow: #707070 2px 2px 6px;
    box-shadow: #707070 2px 2px 6px;
    display: inline;
    vertical-align: middle;
    text-decoration: none;
}
.btn-inverse:hover{
    color: #a8a8a8;
    text-decoration: underline;
    background-color: #110D0E;
    border-style: none;
}