/* 
    Document   : Palettes
    Created on : Sept 25, 2013, 4:11:25 PM
    Author     : Olmo Zavala Romero
    Description:
        Should have all the styling related with the palettes and
        range of colors.
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* Id of the div that contains both Palettes windows */
/* line 14, ../scss/Palettes.scss */
#palettesParent {
  position: absolute;
}

/* Div of the optional palettes div */
/* line 22, ../scss/Palettes.scss */
#palettes-div {
  top: 245px;
  left: 40%;
  position: absolute;
  display: none;
}

/* table that contains current palette and the color range*/
/* line 32, ../scss/Palettes.scss */
#paletteWindowColorRange {
  top: 245px;
  left: 60%;
  position: absolute;
  display: none;
}

/* line 40, ../scss/Palettes.scss */
.inputSizePalettes {
  height: 24px;
  padding: 5px 5px;
}

/* line 46, ../scss/Palettes.scss */
.optPaletteImg {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: black 2px 2px 4px;
  -webkit-box-shadow: black 2px 2px 4px;
  box-shadow: black 2px 2px 4px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 0px 1px;
}
/* line 53, ../scss/Palettes.scss */
.optPaletteImg:hover {
  -moz-box-shadow: #DCC380 2px 2px 6px;
  -webkit-box-shadow: #DCC380 2px 2px 6px;
  box-shadow: #DCC380 2px 2px 6px;
}

.btn-inverse{
    border-style: none;
    /* border-width: 1px; */
    background-color: #110D0E;
    color: #eeeeee;
    -moz-box-shadow: #707070 2px 2px 6px;
    -webkit-box-shadow: #707070 2px 2px 6px;
    box-shadow: #707070 2px 2px 6px;
    display: inline;
    vertical-align: middle;
    text-decoration: none;
}

.btn-inverse:hover{
    color: #a8a8a8;
    text-decoration: underline;
    background-color: #110D0E;
    border-style: none;
}