/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2013, 6:01:26 PM
    Author     : olmozavala
*/
/* line 12, ../scss/Popup.scss */
.ol-popup {
  /*display: none;*/
  position: absolute;
  background-color: white;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  z-index: 1009;
  text-align: left;
  min-width: 200px;
}

/* line 29, ../scss/Popup.scss */
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 39, ../scss/Popup.scss */
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

/* line 46, ../scss/Popup.scss */
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

/* line 54, ../scss/Popup.scss */
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

/* line 60, ../scss/Popup.scss */
.ol-popup-closer:after {
  content: "x";
}
