/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2013, 6:01:26 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* line 14, ../scss/Popup.scss */
.ol-popup {
  position: absolute;
  background-color: #ECF2F8;
  font-size: 11px;
  -moz-box-shadow: black 2px 2px 3px;
  -webkit-box-shadow: black 2px 2px 3px;
  box-shadow: black 2px 2px 3px;
  padding: 14px;
  border-radius: 7px;
  border: 1px solid #ECF2F8;
  bottom: 12px;
  left: -50px;
  z-index: 1006;
  text-align: left;
  width: 200px;
}

/* line 29, ../scss/Popup.scss */
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 39, ../scss/Popup.scss */
.ol-popup:after {
  border-top-color: #ECF2F8;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

/* line 46, ../scss/Popup.scss */
.ol-popup:before {
  border-top-color: #ECF2F8;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

/* line 54, ../scss/Popup.scss */
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

/* line 60, ../scss/Popup.scss */
/*.ol-popup-closer:after {
  content: "x";
}*/
