/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2014, 3:26:00 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* Main div for user menu options. topmenu */
/* line 14, ../scss/TopMenu.scss */
.topMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1008;
  background-image: url("../images/transBack.png");
  border-bottom: white 1px solid;
  padding: 10px 0px;
}

/* line 25, ../scss/TopMenu.scss */
ul#horizontal il {
  display: inline;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* line 30, ../scss/TopMenu.scss */
ul#horizontal {
  display: inline;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/**/
#backLayersDropDown {
    background: transparent;
    border: none;
    font-size: 12px;
}