@import "base";

$containerSize: 200px;

#optionalMenuParent {min-width:$containerSize;top:70px; left:73%; transition: width 2s;}

// Specific style of the hover window of the optional layers
#optionalLayersParentHover{ 
    width: $containerSize;
    left: $containerSize*-1 - 30;
}

/*Root list of optional layers*/
.opt_lay_list_root{
    padding: 0px;
    margin: 8px 2px;//Leave some space above and below main list
    list-style-type: none;
}

// Internal lists. We don't want any symbol and add
// some padding on the left for each new list
.opt_lay_list{
    list-style-type: none;
    padding-left: 10px;
    margin: 0px;
    display: none;//By default are not displayed
    border: 2px solid #222;
border-radius: 0.5em;
}

/*Single menu on the optional layers menu*/
.opt_lay_menu{}

/*A title in the optional menu layers tree */
.opt_lay_title{
    font-size: $f_large;
    margin: 5px 0px 0px 0px;//Some margin on top
    cursor: pointer;//Clickable title
    color: $optLayerTitleColor;
}
.opt_lay_title:hover{ color: $optLayerTitleColorHover }
.opt_lay_title:active{ color: $optLayerTitleColorActive}

/*Default format for each menu as paragraph*/
.opt_lay_par{
    margin: 0px; //No space between paragraphs
    font-size: $f_normal;
}


#optionalLayersWindow{
    padding: 5px;
    border: 2px solid #a1a1a1; 
    border-radius: 10px; 
    margin: 0.3em 0.2em;
}