<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>OWGIS Template</display-name>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Pages/Error/DefaultErrorPage.jsp</location>
    </error-page>
    <filter>
        <filter-name>monitoring</filter-name>
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>monitoring</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>net.bull.javamelody.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>MapViewerServlet</servlet-name>
        <servlet-class>com.mapviewer.business.servlets.MapViewerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessInfoservlet</servlet-name>
        <servlet-class>com.mapviewer.business.servlets.AccessInfoservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServersServlet</servlet-name>
        <servlet-class>com.mapviewer.business.servlets.RedirectServersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaletteServlet</servlet-name>
        <servlet-class>com.mapviewer.business.servlets.NetCDFPalettes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WCSServlet</servlet-name>
        <servlet-class>com.mapviewer.business.servlets.WCSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NetCDFAnimationServlet</servlet-name>
        <servlet-class>com.mapviewer.business.servlets.NetCDFAnimationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleAjaxRedirectServlet</servlet-name>
        <servlet-class>com.mapviewer.business.servlets.SimpleAjaxRedirectServlet</servlet-class>
    </servlet>
          <servlet>
    <servlet-name>MobileServlet</servlet-name>
    <servlet-class>com.mapviewer.business.servlets.MobileServlet</servlet-class>
  </servlet>
    <servlet-mapping>
        <servlet-name>RedirectServersServlet</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WCSServlet</servlet-name>
        <url-pattern>/WCSServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapViewerServlet</servlet-name>
        <url-pattern>/mapviewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaletteServlet</servlet-name>
        <url-pattern>/getpalette</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NetCDFAnimationServlet</servlet-name>
        <url-pattern>/ncAnimation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleAjaxRedirectServlet</servlet-name>
        <url-pattern>/simpleAjaxRedirect</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MobileServlet</servlet-name>
    <url-pattern>/MobileServlet</url-pattern>
  </servlet-mapping>
    <session-config>
        <session-timeout>
			30
		</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>/mapviewer</welcome-file>
    </welcome-file-list>
</web-app>
