/* Default style for the page */
body {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #296E8D;
    overflow:hidden;
}

/* optional layers such as us state, DeepC, etc*/
#optionalMenuParent
{
    text-align:left;
    background-color: black;
}

/* This is the small Scale line in the bottom of the map */
div.olControlScaleLine {
    display:none;
    table-layout:fixed;
    font-size: 0.5em;

    color:black;
    left:48%;
    bottom:40px;

    font-weight: bold;
    text-align:left;
}

/* Div to display latitude and longitude*/
div.layersLongLat{
    position:absolute;
    bottom:80px;
    right:200px;
    z-index:1000;
    display:inline;
    width: 150px;
    height:25px;
    padding-bottom:7px;
    padding-left:6px;
    text-align:left;
    background-image:url('../../images/transBack.png');
    font-size: 12px;
    font-weight: normal;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 5px;
    display:none;
    pointer-events: none;
}
/* Div where the specific data of the layers are displayed */
div.layersData{
    position:absolute;
    z-index:1003;
    display:inline;
    width: 220px;
    min-height:0px;
    padding-bottom:2px;
    padding-left:2px;
    text-align:left;
    background-image:url('../../images/transBack.png');
}
/* Main div for user menu options. Where the dropdown, vector layers etc are now topmenu */
div.layersMenu{
    background-image:url('../../images/transBack.png');
    top:0px;
    left:0px;
    z-index:1002;
    position:absolute;
    border-bottom:white 1px solid;
    height:40px;
    width:100%;
}
/* Left fotter */
div.leftFoot{
    position:absolute;
    bottom:1%;
    right:2%;
    z-index:1000;
    display:inline;
    color:black;
    opacity:0.7;
}
/* Main title */
div.mapTitle{
    position:absolute;
    width: 100%;
    top:70px;
    left:0%;
    z-index:1000;
    display:inline;
    text-align:center;
    pointer-events: none;
}

/*These are the plus and minus images of the color ranges, 
and also the plus and minus buttons of the transparency and
elevation options.*/
.minusButton, .plusButton
{
    font-size: 40px; 
    
    vertical-align: top;
    padding-left:3px;
    padding-right:3px;
    padding-top:0px;
    padding-bottom: 0px;
    
    
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ad4242), color-stop(1, #1a1a1a) );
    background:-moz-linear-gradient( center top, #ad4242 5%, #1a1a1a 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad4242', endColorstr='#1a1a1a');
    background-color:#ad4242;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:4px solid #fffcff;

    color:#fff5ff;
    font-family:arial;
    
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    text-shadow: none;
    
    
    
}
/* This are also plus and minus buttons, but are
smaller and doesn't have background. Currently are used
for transparency in the optional layers. */
.minusButtonSmall, .plusButtonSmall
{
    font-weight: bolder;
    vertical-align: top;
    margin: 0;
    padding: 0;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.minusButtonSmall
{
    color: gray;
}

.middleText
{
    font-size:20px;
    padding:5px;
}

a
{
    text-decoration: none;
}




/* Table that contains the menu for the base layers*/
t_mainMenu{
    margin:.5em 0 .5em 0;
}

/* Subtable that contains the optional layers */
table.vectorLayer{
    /*  background-image:url('../images/transBack.png');*/
    font-size: 10px;
    font-weight: bold;

}

/*part of the color pallete */
td.waitBack{
    /*	border-radius: 10px;*/
    /*	background-image:url('../images/transBack.png'); */
    valign: up;
}

input[type=text]{
    font-size: 11px;
}

p /* This is the default font type for the letters in the page */
{
    color:black;
    font-size:18px;
    text-shadow: 0px -1px 5px #DCDCDC,     /* north      */
        0px  1px 5px #DCDCDC,     /* south      */
        -1px  0px 5px #DCDCDC,     /* west       */
        1px  0px 5px #DCDCDC,     /* east       */
        -1px -1px 5px #DCDCDC,     /* north-west */
        -1px  1px 5px #DCDCDC,     /* north-east */
        1px -1px 5px #DCDCDC,     /* south-west */
        1px  1px 5px #DCDCDC;     /* south-east */

    margin:.5em 0 .5em 0;
        
}

/*title on top of calendar */
.calTitle{
    font-size:30px;
    text-shadow: 0px -1px 5px #DCDCDC,     /* north      */
        0px  1px 5px #DCDCDC,     /* south      */
        -1px  0px 5px #DCDCDC,     /* west       */
        1px  0px 5px #DCDCDC,     /* east       */
        -1px -1px 5px #DCDCDC,     /* north-west */
        -1px  1px 5px #DCDCDC,     /* north-east */
        1px -1px 5px #DCDCDC,     /* south-west */
        1px  1px 5px #DCDCDC;     /* south-east */
}

.defShadow{ /* This font type inverts the color of the font and the shadow */
    
    color:black;

    text-shadow: 0px -1px 5px #DCDCDC,     /* north      */
        0px  1px 5px #DCDCDC,     /* south      */
        -1px  0px 5px #DCDCDC,     /* west       */
        1px  0px 5px #DCDCDC,     /* east       */
        -1px -1px 5px #DCDCDC,     /* north-west */
        -1px  1px 5px #DCDCDC,     /* north-east */
        1px -1px 5px #DCDCDC,     /* south-west */
        1px  1px 5px #DCDCDC;     /* south-east */

    margin:.5em 0 .5em 0;
}

.invShadow{ /* This font type inverts the color of the font and the shadow */
    font-size:13px;
    color:#DCDCDC;
    font-weight: bold;
    text-shadow: 0px -1px 5px #000000,     /* north      */
        0px  1px 5px #000000,     /* south      */
        -1px  0px 5px #000000,     /* west       */
        1px  0px 5px #000000,     /* east       */
        -1px -1px 5px #000000,     /* north-west */
        -1px  1px 5px #000000,     /* north-east */
        1px -1px 5px #000000,     /* south-west */
        1px  1px 5px #000000;     /* south-east */

    margin:.5em 0 .5em 0;

    /* The next lines are for IE */
    /*	zoom: 1;*/
    /*	filter:progid:DXImageTransform.Microsoft.Chroma(Color=#000000)*/
    /*		progid:DXImageTransform.Microsoft.Glow(Strength=5, Color=#000000);*/
}
.footNote{
    font-size:12px;
    display:inline;
    padding-bottom: 5px;
}


.helpClose{

    float:right;


}


/* Estra style for the 
.mainMenuOption{
    color: black;
}

/* Buttons style, default style for buttons (used in transparency and xasis),
and also the mainMenu dropdown options*/
.buttonStyle, .mainMenu, .defaultOptions, .mainMenuOption {
    -moz-box-shadow:inset 0px 1px 0px 0px #0f020f;
    -webkit-box-shadow:inset 0px 1px 0px 0px #0f020f;
    box-shadow:inset 0px 1px 0px 0px #0f020f;
    /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #444444), color-stop(1, #a396a3) );*/
    /*background:-moz-linear-gradient( center top, #444444 5%, #a396a3 100% );*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#a396a3');*/
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #555555), color-stop(1, #555555 ) );
    background:-moz-linear-gradient( center top, #555555 5%, #555555 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#555555');
    background-color:grey;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #080708;
    display:block;
    color:#ffffff;
    font-family:Calibri, Arial, sans-serif;
    font-size:13px;

    padding:6px 10px;
    text-decoration:none;
    text-shadow:1px 1px 0px #0a010a;
}.buttonStyle:hover, .mainMenu:hover, .defaultOptions:hover, .mainMenuOption:hover{
    /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a396a3), color-stop(1, #444444) );*/
    /*background:-moz-linear-gradient( center top, #a396a3 5%, #444444 100% );*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#a396a3');*/
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #333333) );
    background:-moz-linear-gradient( center top, #333333 5%, #333333 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#333333');
    background-color:#a396a3;
}.buttonStyle:active, .defaultOptions:active{
    position:relative;
    top:1px;
}
/*Extra styling for the 'transparency' and 'depth buttons'*/
.defaultOptions{
    font-size:15px;
    padding:1px 5px;
}

/* Extra styling for the mainlayer dropdowns */
.mainMenu {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #AAAAAA), color-stop(1, #AAAAAA ) );
    background:-moz-linear-gradient( center top, #AAAAAA 5%, #AAAAAA 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#AAAAAA');
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:4px;
    border:5px solid #080708;
    display:block;
    font-family:Calibri, Arial, sans-serif;
    font-size:30px;
    width: 100%;
    height: 2em;
    color:black;

    padding:3px 5px;
    text-shadow:0px 0px 0px #FFFFFF;
}.mainMenu:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DDDDDD), color-stop(1, #DDDDDD) );
    background:-moz-linear-gradient( center top, #DDDDDD 5%, #DDDDDD 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#DDDDDD');
}

/*It is used for normal text or paragraph (with shadows)
but the size of the font is larger */
.bigFontSize{
    font-size: 30px;
}

.terco
{
    display:inline;
}

/* area that holds loading button*/
.loading_area
{
    border:solid red;
    z-index:1008;
    position:absolute;
    top:300px;
    left:300px;
}

#elevationSelector
{
    top:80px;
    left:35px;
    position:absolute;
    
    
    background-color: black;
}



.linkElevPageDef{
    font-size: 16px;
    color: #F9FFCB;
}
.linkElevPageSelected{
    font-size: 16px;
    color: #BBA364;
}

/*Style for the 'contact' text. At the bottom of the page*/
#emailText{
    font-size: 10px;
    color:blue;
    text-shadow: 0px -1px 5px #DCDCDC,     /* north      */
        0px  1px 5px #DCDCDC,     /* south      */
        -1px  0px 5px #DCDCDC,     /* west       */
        1px  0px 5px #DCDCDC,     /* east       */
        -1px -1px 5px #DCDCDC,     /* north-west */
        -1px  1px 5px #DCDCDC,     /* north-east */
        1px -1px 5px #DCDCDC,     /* south-west */
        1px  1px 5px #DCDCDC;     /* south-east */

    margin:.5em 0 .5em 0;
}


/* This imageless css button was generated by CSSButtonGenerator.com */


/* This is the CSS for a default dragabble window. It should be used
for the main layers, the color palettes, the optional layers, the calendars etc.*/ 
.draggableWindow{
    /*background-color:black;*/
    
    z-index:1008;
    color: white;    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    margin-top: 2em;
    margin-bottom: 2em;
    border:solid 5px white;
    padding:3px;
    cursor: move;
    opacity:0.95;
    background-color:#000000;
    border-spacing: 5px 2px;
    font-size: 12px;
}

.WindowMobile{
    	background-color:black;
	
	z-index:1008;
	color: white;    
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	margin-top: 2em;
	margin-bottom: 2em;
	border:solid 3px white;
	padding:3px;
	
   
	position:absolute;
	border-spacing: 5px 2px;
   
}





.closeButton, .maximizeButton, .minimizeButton {
    background-color:#ffffff;
    border:1px solid #dcdcdc;
    display:none;
    color:#333333;
    font-family:arial;
    font-size:10px;
    font-weight: bold;
    padding:0px 3px;
    text-decoration:none;
    cursor:pointer;
    float: right;
}.closeButton:hover, .minimizeButton:hover , .maximizeButton:hover {
    background-color:#f6f6f6;
}.closeButton:active, .minimizeButton:active, maximizeButton:active{
    position:relative;
    top:1px;
}


.minimizeButton
{
    padding:0px 4px;


}    

#optionalsMinimize, #calendarsMinimize, #mainMenuMinimize
{
    z-index: 1008;
    text-align:center;
    background-color:black;
    bottom:-34px;
    display:none;
    cursor: default;

}

/* Simple class to avoid margin of a paragraph */
.smallMargin{
    margin: 2px;
}

#mobileLevel1{


    top:7px;
    
    text-align: center;
    z-index:1002;
    position:absolute;
    left:5px;
    width:0px;
    height:0px;

   

}

.mobileButton {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ad4242), color-stop(1, #1a1a1a) );
    background:-moz-linear-gradient( center top, #ad4242 5%, #1a1a1a 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad4242', endColorstr='#1a1a1a');
    background-color:#ad4242;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:4px solid #fffcff;

    color:#fff5ff;
    font-family:arial;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    text-shadow: none;

}.mobileButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1a1a1a), color-stop(1, #ad4242) );
    background:-moz-linear-gradient( center top, #1a1a1a 5%, #ad4242 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#ad4242');
    background-color:#1a1a1a;
}.mobileButton:active {
    position:relative;
    top:1px;
}

#mobileLev1optClose
{

    display:none;
}


#level3Calendars
{
    display:none;

    position:absolute;
   
    top:0px;
    left:250px;

}

#level3cqlFilter
{
    display:none;

    position:absolute;
   
    top:-100px;
    left:250px;
  

}



#mobileLevel2{


    display:none;
    z-index:1002;
    position:absolute;

     background-color:#ad4242;
  
   
    text-align:left;
    top:0;
    left:0px;


}

#mobileLevel3{


    display:none;
    z-index:1002;
    position:absolute;
    width:0px;
    height:0px;
  
    text-align:left;
    top:0px;
    left:0px;
   

}







#level3OptionalLayers
{

    display:none;
    left:250px;
    position:absolute;
    top:0px;


}



#level3MainLayers
{
    display:none;
    width:300px;
    position:absolute;
    top:-10px;
    left:250px;


}

#level3Transparency
{

    display:none;
    
    position:absolute;
    top:30px;
    left:250px;

}

#level3Depth
{
    display:none;
    width:300px;
    position:absolute;
    top:30px;
    left:250px;
   

}



#mobileLev3Back
{
    display:none;
    position:absolute;
    top:10px;  
    left:20px;
    width:200px;
}





#level3ColorPalette
{
    display:none;
    position:absolute;
    top:0px;  
    left:250px;
    
}

#level3helpInst
{
    display:none;
    position:absolute;
    top:-100px;  
    left:250px;
    width:650px;
}


#level3Transect
{
    
    display:none;
    position:absolute;
    top:5px;  
    right:5px;
    
}


input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(3); /* IE */
    -moz-transform: scale(3); /* FF */
    -webkit-transform: scale(3); /* Safari and Chrome */
    -o-transform: scale(3); /* Opera */
    padding-left: 10px;
    padding-right: 10px;
}

input[type=radio]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding-left: 10px;
    padding-right: 10px;
}


input[type=text]
{
    font-size:25px;
}





#pTitleText
{
   
   font-size:30px;

}

#mainMenuTitle
{
    font-size:35px;
    text-align:center;

}

.transText{

    font-size:50px;

}

#transectParent{
    
    position:absolute;
    z-index:1009;
    top:2px;
    left:2px;
    
    display:none;
   
}

.elevationSelector
{
    color:white;
    font-size:30px;
    border:solid white;
    
    
}

.linkElevPageSelected
{
    font-size:30px;
}

.linkElevPageDef
{
    font-size:30px;
}

.mobileButtonDisabled
{

        
        
        
          background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, grey), color-stop(1, grey) );
    background:-moz-linear-gradient( center top, grey 5%, grey 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='grey', endColorstr='grey');
    background-color:grey;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:4px solid #fffcff;

    color:#fff5ff;
    font-family:arial;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    text-shadow: none;
}

#depthCheck
{
  font-size:40px;
    
}

#mobileLev1HideTitleOff
{
    display: none;
    
    
}

#showAllButton
{
    display:none;
    
}