@CHARSET "ISO-8859-1";
/*
 #ulBaseLayers, #optionalLayersWindow{
 display: none;
 } */
/* line 6, ../../scss/MobileCSS/MobStyles.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 10, ../../scss/MobileCSS/MobStyles.scss */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../../images/loading/009.gif") 50% 50% no-repeat #f9f9f9;
}

/* line 20, ../../scss/MobileCSS/MobStyles.scss */
label {
  text-align: center;
}

/* line 24, ../../scss/MobileCSS/MobStyles.scss */
.leftPanel {
  max-width: 200px;
}

/* line 27, ../../scss/MobileCSS/MobStyles.scss */
.rightPanel {
  max-width: 200px;
}

/* line 31, ../../scss/MobileCSS/MobStyles.scss */
.ui-panel-inner {
  padding: 0px;
}

/* line 34, ../../scss/MobileCSS/MobStyles.scss */
.ui-controlgroup {
  margin: 0;
}

/* line 37, ../../scss/MobileCSS/MobStyles.scss */
.ui-field-contain .ui-controlgroup-label {
  width: 100%;
}

/* line 41, ../../scss/MobileCSS/MobStyles.scss */
.ui-panel-inner {
  /*overflow-x: hidden;*/
  /*max-height: 500px;*/
  /*height: 100%;*/
}

/* line 47, ../../scss/MobileCSS/MobStyles.scss */
#bars-button {
  height: 27px;
}

/* line 52, ../../scss/MobileCSS/MobStyles.scss */
.languageContainerSel {
  padding-right: 5px;
}

/*     ul ul { display: none; } */
/* line 56, ../../scss/MobileCSS/MobStyles.scss */
html {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 60, ../../scss/MobileCSS/MobStyles.scss */
#leftList {
  margin: 0.4em;
}

/* line 64, ../../scss/MobileCSS/MobStyles.scss */
.ui-field-contain .ui-controlgroup-controls {
  width: 100%;
}

/* line 68, ../../scss/MobileCSS/MobStyles.scss */
#l-animation {
  position: absolute;
  margin: auto;
  top: 30%;
  left: 30%;
  z-index: 1009;
  pointer-events: none;
  font-size: 18px;
}

/* line 78, ../../scss/MobileCSS/MobStyles.scss */
#timeSelect {
  width: 170px;
}

/* line 82, ../../scss/MobileCSS/MobStyles.scss */
.transect-slider .ui-slider-label {
  font-size: 13px;
}

/* line 86, ../../scss/MobileCSS/MobStyles.scss */
.transect-slider .ui-slider-switch {
  width: 10em;
}
