/* line 3, ../../scss/MobileCSS/MPanels.scss */
.panel {
  color: #CCC;
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px white;
  height: auto;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
