
@import "base";

$containerSize: 180px;
$border-select: 6px;

/* Extra styling for the mainlayer dropdowns */
[id^="dropDownLevels"] {
    font-size: $f_larger;
    width: 235px;
  background-color: $dropDownBackColor;
  @include border-radius($border-select, $border-select);

    //padding: 2px 11px;
    margin: 1px 0px;
}

.ui-field-contain .ui-select{
  width: 235px;
}
#ulBaseLayers{
    padding: 5px;
    border: 2px solid #a1a1a1; 
    border-radius: 10px; 
    margin: 0.3em 0.2em;
}
