/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2014, 2:52:33 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* line 14, ../../scss/MobileSCSS/MAnimations.scss */
#animControls .ui-btn {
  margin: 0px;
  font-size: 12px;
  border: none;
}

/* line 20, ../../scss/MobileSCSS/MAnimations.scss */
.warning {
  color: #ec451f;
}

/* line 21, ../../scss/MobileSCSS/MAnimations.scss */
.btn-default.warning:hover, .btn-default.warning:focus {
  color: #c73311;
}

/* line 26, ../../scss/MobileSCSS/MAnimations.scss */
.ui-content {
  padding: 0px;
}

/* line 30, ../../scss/MobileSCSS/MAnimations.scss */
#myfoot {
  bottom: 0px;
}
