/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* Extra styling for the mainlayer dropdowns */
/* line 8, ../../scss/MobileSCSS/MBaseLayers.scss */
[id^="dropDownLevels"] {
  font-size: 15px;
  width: 235px;
  background-color: #909090;
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  margin: 1px 0px;
}

/* line 18, ../../scss/MobileSCSS/MBaseLayers.scss */
.ui-field-contain .ui-select {
  width: 235px;
}

/* line 21, ../../scss/MobileSCSS/MBaseLayers.scss */
#ulBaseLayers {
  padding: 5px;
  border: 2px solid #a1a1a1;
  border-radius: 10px;
  margin: 0.3em 0.2em;
}
