/* container of map image of openlayers */
/* line 3, ../../scss/MobileSCSS/MobileOpenLayersRelated.scss */
#map {
  cursor: crosshair;
  margin-left: auto;
  margin-right: auto;
}

/* Used by open layers to display longitude and latitude */
/* line 11, ../../scss/MobileSCSS/MobileOpenLayersRelated.scss */
#location {
  color: black;
  font-size: 12px;
  text-align: center;
  display: inline;
  margin: auto;
  font-weight: normal;
}

/* Thic class controls the complete popup (the content plust the close button area*/
/* line 21, ../../scss/MobileSCSS/MobileOpenLayersRelated.scss */
.olPopup {
  border-radius: 10px;
}

/* This is the style of the OpenLayers pop up (Layer details)
   The font size has to be defined on JavaScript (I doesn't work here)
	This style only works when using default PopUp types (not clouds)
*/
/* line 28, ../../scss/MobileSCSS/MobileOpenLayersRelated.scss */
div.olPopupContent {
  background-image: url("../../images/transBack2.png");
  border-radius: 10px;
  /*overflow: hidden;*/
  width: 190px;
}

/* Defines the style for the PanPanel control */
/* line 36, ../../scss/MobileSCSS/MobileOpenLayersRelated.scss */
div.olControlPanPanel {
  position: absolute;
  top: 20px;
  left: 150px;
  display: none;
  zoom: 200%;
}

/* Defines the style for the PanPanel control */
/* line 44, ../../scss/MobileSCSS/MobileOpenLayersRelated.scss */
div.olControlZoomPanel {
  position: absolute;
  top: 90px;
  left: 158px;
  display: none;
  zoom: 200%;
}

/* Defines to not display anything if the layer was not found*/
/* line 54, ../../scss/MobileSCSS/MobileOpenLayersRelated.scss */
.olImageLoadError {
  display: none !important;
}

/* This is the class that the punctual data from geoserver uses 
in most of their text */
/* line 60, ../../scss/MobileSCSS/MobileOpenLayersRelated.scss */
.map_content {
  pointer-events: none;
}
