@CHARSET "ISO-8859-1";
/*
 #ulBaseLayers, #optionalLayersWindow{
 display: none;
 } */
/* line 6, ../../scss/MobileSCSS/MobStyles.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 10, ../../scss/MobileSCSS/MobStyles.scss */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../../images/loading/009.gif") 50% 50% no-repeat #f9f9f9;
}

/* line 20, ../../scss/MobileSCSS/MobStyles.scss */
.loading:after {
  content: url("../../images/loading/042.gif") 50% 50% no-repeat #f9f9f9;
}

/*Default title inside a window*/
/* line 26, ../../scss/MobileSCSS/MobStyles.scss */
label {
  width: 100%;
  text-align: center;
}

/* line 31, ../../scss/MobileSCSS/MobStyles.scss */
.ui-controlgroup {
  margin: 2px;
}

/* line 34, ../../scss/MobileSCSS/MobStyles.scss */
.ui-field-contain .ui-controlgroup-label {
  width: 100%;
}

/* line 39, ../../scss/MobileSCSS/MobStyles.scss */
#bars-button {
  height: 27px;
}

/* line 44, ../../scss/MobileSCSS/MobStyles.scss */
.languageContainerSel {
  padding-right: 5px;
}

/*     ul ul { display: none; } */
/* line 48, ../../scss/MobileSCSS/MobStyles.scss */
html {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 52, ../../scss/MobileSCSS/MobStyles.scss */
.ui-field-contain .ui-controlgroup-controls {
  width: 100%;
}

/* line 56, ../../scss/MobileSCSS/MobStyles.scss */
#l-animation {
  position: absolute;
  margin: auto;
  top: 30%;
  left: 30%;
  z-index: 1009;
  pointer-events: none;
  font-size: 18px;
}

/* line 66, ../../scss/MobileSCSS/MobStyles.scss */
#timeSelect {
  width: 170px;
}

/* line 70, ../../scss/MobileSCSS/MobStyles.scss */
.transect-slider .ui-slider-label {
  font-size: 13px;
}

/* line 74, ../../scss/MobileSCSS/MobStyles.scss */
.transect-slider .ui-slider-switch {
  width: 10em;
}


/* Add movil css */

/* Language custom css */
#selectedLanguage {
    border: none;
}

#langDropDown {
    position: relative;
    left: -22px;
    max-height: 0px;
    border: none;
    text-align: left;
    font-size: 0.8em;
    width: 62px;
    top: 10px;
}

#langDropDown :first-child {
    margin-bottom: 13px;
}

#langDropDown :first-child>a{
    width: 65px;
}


#langDropDown li {
    height: 28px !important;
    width: 65px;
    margin-bottom: 2px;
}

#langDropDown img, #langDropDown a {
    display: inline-block;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    margin: 0;
}

.openLangDropDown img, .openLangDropDown a {
    max-height: 40px !important;
    overflow: visible !important;
}

/*  Top menu */
#home>#header {
    background: rgba(215, 255, 255, 0.3);
    box-shadow: 2px 0px 5px rgba(88,88,88,0.2);
    z-index: 99;
}

#home>#header a {
    background: rgba(3, 3, 3, 0.5);
    box-shadow: 1px 1px 1px #000000;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin-top: -2px;
}

/* main layer map set in all page*/
#home .ui-content {
    position: relative;
    height: 100vh;
    width: 100%;
    top: -41px;
    left: 0;
}

/* left menu css */
#baseLayersData [id^="dropDownLevels"][id$="button"] {
    background-color: rgba(255, 255, 255, 0.4);
    text-shadow: 0 1px 0 #000;
    color: black;
    min-width: 100px;
    max-width: 140px;
    margin-left: -8px;
    text-align: center;
}

#baseLayersData .mainMenu {
    color: white;
    background-color: transparent;
    font-weight: 500;
}

#mobPanelLayers {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1 !important;
}

#mainMenuOption {
    color: black;
}

/* hidden scale */
.ol-scale-line-inner, .ol-scale-line {
    display: none;
}

/* transform controls*/
.transformH {
    transform: matrix(0,-1,1,0,-230,-270);
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

.transformV {
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

/*palettes control*/
#paletteMobilPrevNext {
    list-style: none outside none;
}

#paletteMobilPrev {
    display: inline-block;
    left: 10px;
    float: left;
    padding: 10px;
}

#paletteMobilNext {
    display: inline-block;
    right: 10px;
    float: right;
    padding: 10px;
}

#paletteMobilPrev:hover, #paletteMobilNext:hover {
    cursor: pointer;
}

/*change loader
.loader {
    background: rgba(255, 255, 255, 0.5);
}

.center {
    margin: -25%;
    width: 150px;
    height: 150px;
}

.center i {
    font-size: 200px;
    margin: 50%;
}*/