/*
* Base configuration, mixings and global variables
*/
/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala-Romero
*/
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/
/* 
 * popup
 * emailText
 */
/* 
 * MapInstructions::toolTip
 */
/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
/* 
 * OptionalLayersMenu::lay_title
 */
/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
/* 
 * Palettes::inputSizePalettes --height
 */
/* 
 * GeneralStyles::mapTitle
 */
/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:49:32 PM
    Author     : harshulpandav
*/
/* line 5, ../../scss/MobileSCSS/MOptionalLayers.scss */
#optionalMenuParent {
  min-width: 200px;
  top: 70px;
  left: 73%;
  transition: width 2s;
}

/* line 8, ../../scss/MobileSCSS/MOptionalLayers.scss */
#optionalLayersParentHover {
  width: 200px;
  left: -230px;
}

/*Root list of optional layers*/
/* line 14, ../../scss/MobileSCSS/MOptionalLayers.scss */
.opt_lay_list_root {
  padding: 0px;
  margin: 8px 2px;
  list-style-type: none;
}

/* line 22, ../../scss/MobileSCSS/MOptionalLayers.scss */
.opt_lay_list {
  list-style-type: none;
  padding-left: 10px;
  margin: 0px;
  display: none;
  border: 2px solid #222;
  border-radius: 0.5em;
}

/*Single menu on the optional layers menu*/
/*A title in the optional menu layers tree */
/* line 35, ../../scss/MobileSCSS/MOptionalLayers.scss */
.opt_lay_title {
  font-size: 14px;
  margin: 5px 0px 0px 0px;
  cursor: pointer;
  color: #80ccdc;
}

/* line 41, ../../scss/MobileSCSS/MOptionalLayers.scss */
.opt_lay_title:hover {
  color: #35a9c1;
}

/* line 42, ../../scss/MobileSCSS/MOptionalLayers.scss */
.opt_lay_title:active {
  color: #1f6371;
}

/*Default format for each menu as paragraph*/
/* line 45, ../../scss/MobileSCSS/MOptionalLayers.scss */
.opt_lay_par {
  margin: 0px;
  font-size: 13px;
}

/* line 51, ../../scss/MobileSCSS/MOptionalLayers.scss */
#optionalLayersWindow {
  padding: 5px;
  border: 2px solid #a1a1a1;
  border-radius: 10px;
  margin: 0.3em 0.2em;
}
