/* line 3, ../../scss/MobileSCSS/MPanels.scss */
.panel {
  color: #CCC;
  background: rgba(255, 255, 255, 0.2);
  /*border:solid 1px white;*/
  /*height: auto;*/
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* line 12, ../../scss/MobileSCSS/MPanels.scss */
.panel-title {
  text-align: center;
}

/* line 16, ../../scss/MobileSCSS/MPanels.scss */
.ui-panel-inner {
  /*overflow-x: hidden;*/
  /*max-height: 500px;*/
  /*height: 100%;*/
  /*This is one is important, it controls the padding of all the panels. Which
  is an internal paddingk*/
  padding: 0px;
  background: transparent;
}

/* line 26, ../../scss/MobileSCSS/MPanels.scss */
.ui-listview-inset {
  margin: 0px;
  padding: 0px;
}

/* line 31, ../../scss/MobileSCSS/MPanels.scss */
.ui-listview > .ui-li-static {
  padding: 0px 4px;
  margin: 0px;
}

/* line 36, ../../scss/MobileSCSS/MPanels.scss */
.leftPanel {
  /*max-width: 200px;*/
}

/* line 39, ../../scss/MobileSCSS/MPanels.scss */
.rightPanel {
  max-width: 200px;
}

div#mobPanelMainTools {
    background: rgba(15, 44, 85, 0.85);
    width: 55%;
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
    background-color: #4AAB8C;
    /* border-color: #ddd; */
    color: #eee;
    text-shadow: 0 1px 0 #1f1f1f;
    border: transparent;
    border-radius: .5em;
    
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #4AAB8C;
    /* border-color: #ddd; */
    color: #f3f3f3;
    text-shadow: 0 1px 0 #333;
    /* border-color: #ddd; */
    border: none;
    /* border-color: #ddd; */
        margin-bottom: 3px;

}

.ui-listview>li {
    display: block;
    position: relative;
    border-radius: .5em;
    margin-bottom: 0.2em;
    overflow: visible;
}