/*
* Font variables
*/
/* 
    Created on : May 27, 2014, 3:48:12 PM
    Author     : harshulpandav
*/

/* 
 * popup
 * emailText
 */
$f_tiny:11px; 

/* 
 * MapInstructions::toolTip
 */
 
$f_small:12px;

/* _base::floatingWindow
 * OL3::lat-long
 * OptionalLayersMenu::lay-par
 */
$f_normal:13px;

/* 
 * OptionalLayersMenu::lay_title
 */
$f_large:14px;


/* 
 * BaseLayers::mainMenu --for drop-downs
 * Buttons::plus/minus
 * GeneralStyles::title --for draggableWindows 
 */
$f_larger:15px;

/* 
 * Palettes::inputSizePalettes --height
 */
$f_largest:18px;

/* 
 * GeneralStyles::mapTitle
 */
$f_huge:20px; //mapTitle

$font_type_1: Tahoma, Verdana, Arial, sans-serif;