/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2014, 2:52:33 PM
    Author     : Olmo Zavala-Romero
*/

@import "base";

#animContainer{
	position: absolute;
	min-width:100px;
	height:100px;
	z-index: 10030;
}

// It has the style for the 
#animControls{
	top: 40%;
	left: 50%;
	min-width: 13em;
	padding: 0px 20px;
}

.warning{ color: $warningColor};
.btn-default.warning:hover, .btn-default.warning:focus{
	color: $secondaryWarning;
}

