/*
This file defines all the styles for the buttons on the site. 
Currently the buttons for the menu and the +,- buttons
*/
/* 
    Created on : Sep 23, 2013, 1:57:39 PM
    Author     : Olmo Zavala-Romero
*/
@import "base";

$btn-default-color:red;

/* This class has some general properties that make a span
look like a button */
.buttonLook{
    border-style: none;
    /*border-width: 1px;*/
    background-color:$butBackColor;
    /*border-color: $butBorderColor;*/
	padding: $defPadding 2*$defPadding;//TB and RL
	color: $fontColor;
	@include border-radius($default-border-radius);
	@include box-shadow($butShadowColor 2px 2px $butBoxShadowSize);
	/*@include box-sizing(content-box);*/
	margin:  $defPadding $defPadding;
	height: $defFontSize + 10;  //no effect on screen
    display: inline; 
	vertical-align: middle;
}


/* Buttons style, default style for buttons (used in transparency and xaxis),
and also the mainMenu dropdown options*/
.buttonStyle{
    @extend .buttonLook;
	&:hover{
		background-color:$butBackColorHover;
        @include box-shadow($butShadowColorHover 2px 2px $butBoxShadowSize*2);
	}
    &:active{
        @include box-shadow($butShadowColorActive 2px 2px $butBoxShadowSize*2);
		background-color:$butBackColorActive;
    }
    cursor: pointer;
}

.beenUsed{
	@include box-shadow($butShadowColor 2px 2px $butBoxShadowSize);
	background-color: $butBackColorUsed;
}


.buttonStyleCompressed{
	padding: 0px;
	margin: 0px;
    display: inline; 
	vertical-align: middle;
	color: $fontColor;
    background-color:$butBackColor;
	@include box-sizing(content-box);
	height: $defFontSize + 10;  //no effect on screen
	&:hover{
		background-color:$butBackColorHover;
	}
    &:active{
		background-color:$butBackColorActive;
    }
}

/* This is just a container of buttons in the top menu, specifically
for transparency and depth*/
.buttonContainer{
    @extend .buttonLook;
    background-color: transparent;
    background-image:url('../images/transBack.png');
	padding: $defPadding+2 2*$defPadding;
}

/* This are also plus and minus buttons, but are
smaller and doesn't have background. Currently are used
for transparency in the optional layers. */
.minusButtonSmall, .plusButtonSmall
{
	@include onlyTextButton;
    font-size: $f_larger;
    font-weight: bolder;
}


//Close button
.closeButton{ float:right; }