/*
This file defines all the styles for the buttons on the site. 
Currently the buttons for the menu and the +,- buttons
*/
/* 
    Created on : Sep 23, 2013, 1:57:39 PM
    Author     : olmozavala
*/
@import "base";

$btn-default-color:red;

/* This class has some general properties that make a span
look like a button */
.buttonLook{
    border-style: solid;
    border-width: 1px;
    background-color:$butBackColor;
    border-color: $backColor;
	padding: $defPadding 2*$defPadding;
	color: $fontColor;
	@include border-radius($default-border-radius);
	@include box-shadow($butShadowColor 2px 2px $butBoxShadowSize);
	@include box-sizing(content-box);
	margin:  5px 5px; 
	height: $defFontSize + 10;  //no effect on screen
    display: inline; 
	vertical-align: middle;
}

/* Buttons style, default style for buttons (used in transparency and xasis),
and also the mainMenu dropdown options*/
.buttonStyle{
    @extend .buttonLook;
	&:hover{
		background-color:$butBackColorHover;
        @include box-shadow($butSecondShadowColor 2px 2px $butBoxShadowSize*2);
	}
    &:active{
        @include box-shadow($butSecondShadowColor + 20 2px 2px $butBoxShadowSize*2);
		background-color:$butBackColorHover + 20;
    }
    cursor: pointer;
}



/* This is just a container of buttons in the top menu, specifically
for transparency and depth*/
.buttonContainer{
    @extend .buttonLook;
    background-color: transparent;
    background-image:url('../images/transBack.png');
	padding: $defPadding+2 2*$defPadding;
}

/* This are also plus and minus buttons, but are
smaller and doesn't have background. Currently are used
for transparency in the optional layers. */
.minusButtonSmall, .plusButtonSmall
{
	@include onlyTextButton;
    font-size: $f_larger;
    font-weight: bolder;
}
