/* 
    Created on : Sep 20, 2013, 8:27:12 PM
    Author     : Olmo Zavala Romero
*/

@import "base";

//This is the size of the main Celendars container
/*$containerSize:380px;*/

/* This is the Loading text */
#l-animation{ 
	position:absolute;	
	margin:auto;
    top:20%;
    left:40%;
    z-index:1009;
	pointer-events: none;
	font-size: $f_huge;
}

/* Calendars container */
#CalendarsAndStopContainer{
    top: 209px;
    left: 50px;
    //This is necessary because the calendar doesn't fit
    // on a normal span of 2
    /*width:$containerSize;*/
}

// Dropdown to select the time frame (day, week, month)
#timeSelect{
    /*width: $containerSize/2 - 20;*/
}

.ui-widget{
	/*font-size: $f_tiny;*/
}