/*
This file defines all the general styling for the site like the floating windows,
buttons, etc.
*/
/* 
    Created on : Sep 23, 2013, 1:57:39 PM
    Author     : Olmo Zavala-Romero
*/
.red{ background-color: red}
.yellow{ background-color: yellow}
.blue{ background-color: blue}
.green{ background-color: green}

@import "base";

// Increases the default row space used on bootstrap
.defRowSpace{
    margin: $defPadding 0px $defPadding 0px;//TRBL
}

// Increases the default row space used on bootstrap
.doubleRowSpace{
    margin: 2*$defPadding 0px 2*$defPadding 0px;//TRBL
}

// Used by any menu that starts as a hidden menu
.menuHidden{
    display:none;
}

/* This is the CSS for a default floating window. It should be used
for the help text, the optional layers, the depth etc.*/ 
.draggableWindow{
	@include floatingWindow;
	color: $fontColor;
	background-color: $dwBackColor; 
}

/* This is the CSS for a default transparent floating window. It should be used
for the main layers, the color palettes, the calendars etc.*/ 
.transDraggableWindow{
	@include floatingWindow;
	background-color: $transDWBackColor;
}


//Default shadow for the text
.defShadow{ color: $fontColor; @include textHalo($invColor); }
//Inverse shadow for the text
.invShadow{ color: $invColor; @include textHalo($fontColor); }

//No shadow on the text, using default font color
.noShadow{ color: $fontColor; }
//No shadow on the text, using default inverse color
.noShadowInv{ color: $invColor; }

/* This is the default font type for the letters in the page */
p{ color: $fontColor; }

//---------------  From map style --------------
/* Default style for the page */
html,body {
    // font-family:Tahoma, Verdana, Arial, sans-serif;
    font-family: $font_type_1;
    margin: 0;
    padding: 0;
    background-color: $htmlBodyBackColor;
    overflow:hidden;
	width: 100%;
	height: 100%;
}

/* Used to avoid selecting text (Chrome)*/
::selection{
	background: transparent;
}
/* Used to avoid selecting text (Firefox)*/
::-moz-selection{
	background: transparent;
}


a{ text-decoration: none; }

.footNote{
    font-size:12px;
    display:inline;
    padding-bottom: 5px;
}

/*It is used for normal text or paragraph (with shadows)
but the size of the font is larger */
.bigFontSize{ 
    font-size: 30px; 
}

// It changes the cursor to 'loading' while something is happening on the map
.loadingCursor{
	cursor: progress;
}

.defaultCursor{
	cursor:crosshair;
}

hr{
	@include background-image(linear-gradient($fontColor, $backColor, $fontColor));
}