/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2014, 5:47:23 PM
    Author     : harshulpandav
*/
@import "base";
$border-select: 6px;

//Is the container of the language select 
#languageContainer{
	z-index: 1019;
}

//Is the language selection dropdown
#langDropDown{ }
#langDropDown li{
	min-width: 0px;
	padding: 0px;
	margin: 0px;
}

// Defines the button to select Languages
#selectedLanguage{
	padding-bottom: 0px;
	padding-top: 0px;
}