/* 
    Document   : Ol3
    Created on : Jun 24, 2013, 1:12:08 PM
    Author     : Olmo Zavala-Romero
    Description:
		This styles are mostly overrrides for OpenLayers 3
*/

@import "base";

div.fullWindow {
	width: 100%;
	height: 100%;
}
div.halfWidthWindow{
	width: 50%;
	height: 100%;
}
div.halfHeightWindow{
	width: 100%;
	height: 50%;
}

/* container of map image of openlayers */
#map
{
	width: 100%;
	height: 100%;
    margin-left: auto ;
    margin-right: auto ;
    z-index:1020;
}

/* This is the class that the FTL from geoserver uses 
in most of their text */
.map_content{
    pointer-events: none;
}


//Defines the position of the +,- zoom buttons
.ol-zoom{
    top: $topMenuHeight+10;
}

//Changes position fo the Ol3 zoom slider
.ol-zoomslider{
    top:$topMenuHeight+70;
}

/* This is the Scale line in the bottom of the map */
.ol-scale-line{
    bottom:40px;
    left:40%;
}

/* This is the position of the button to go fullscreen */
.ol-full-screen {
    top: $topMenuHeight+5;
}

/* Defines to not display anything if the layer was not found*/
.olImageLoadError{
	display: none !important;
}

/* Used by open layers to display longitude and latitude */
.ol-lat-lon{
    color: $invColor;
    font-size: $f_normal;
    text-align: center;
	font-weight: normal;
}
