/* 
    Document   : Palettes
    Created on : Sept 25, 2013, 4:11:25 PM
    Author     : Olmo Zavala Romero
    Description:
        Should have all the styling related with the palettes and
        range of colors.
*/

@import "base";


/* Id of the div that contains both Palettes windows */
#palettesParent {
    position:absolute;
}

//Table that contains all the optional palettes
#palettesTable{}

/* Div of the optional palettes div */
#palettes-div{
    top: 245px;
    left: 40%;
    position:absolute;
    display:none;
}

//------------ This is for the window with the color range in it -----

/* table that contains current palette and the color range*/
#paletteWindowColorRange{
    top: 245px;
    left: 60%;
    position:absolute;
    display:none;
}

// Define the size of the input to store color ranges
.inputSizePalettes{
	height: 24px;//This is modifying the default hight of Bootstrap for input-sm
	padding: 5px 5px;
}

// Style for the optional layers (the images)
.optPaletteImg{
	@include border-radius(1px);
	@include box-shadow($optPaletteImgShadow 2px 2px $butBoxShadowSize - 2);
	@include box-sizing(content-box);
    cursor: pointer; 
	margin: 0px 1px;

    &:hover{
        @include box-shadow($optPaletteImgShadowHover 2px 2px $butBoxShadowSize);
    }
}
