/* 
    Document   : Palettes
    Created on : Sept 25, 2013, 4:11:25 PM
    Author     : Olmo Zavala Romero
    Description:
        Should have all the styling related with the palettes and
        range of colors.
*/

@import "base";

$sizeContainerColorRange: 210px;
$sizeOptionalPalettes: 270px;

/* Id of the div that contains both Palettes windows */
#palettesParent {
    position:absolute;
}

//Table that contains all the optional palettes
#palettesTable{
    margin: 5px 0px;
}

/* Div of the optional palettes div */
#palettes-div{
    width:$sizeOptionalPalettes;
    top: 245px;
    left: 40%;
    position:absolute;
    display:none;
}

//------------ This is for the window with the color range in it -----

/* table that contains current palette and the color range*/
#paletteWindowColorRange{
    width:$sizeContainerColorRange;
    top: 245px;
    left: 60%;
    position:absolute;
    display:none;
}

// Define the size of the input to store color ranges
.inputSizePalettes{
    width:5em;//TODO Is not working, it is hardcoded on file Palettes.jsp
    height: $defFontSize+5;
}

// Style for the optional layers (the images)
.optPaletteImg{
    border-color: $backColor;
	@include border-radius(1px);
	@include box-shadow(black 2px 2px $butBoxShadowSize - 2);
	@include box-sizing(content-box);
    cursor: pointer; 
	margin: 0px 1px;

    &:hover{
		background-color:$butBackColorHover;
        @include box-shadow($butSecondShadowColor 2px 2px $butBoxShadowSize);
    }
}
