
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2013, 6:01:26 PM
    Author     : Olmo Zavala-Romero
*/
@import "base";

//Defined the properties of the popup
.ol-popup {
	position: absolute;
	background-color: $fontColor;
    font-size: $f_tiny; 
	@include box-shadow(black 2px 2px 3px);
	padding: 14px;
	border-radius: $default-border-radius;
	border: 1px solid $popupBorderTopColorAfter; 
	bottom: 12px;
	left: -50px;
	z-index: 1006;
	text-align: left;
	width: 200px;
}
//Used for the small triangle below the popup
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
//Used for the small triangle below the popup
.ol-popup:after {
	border-top-color: $popupBorderTopColorAfter;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
//Used for the small triangle below the popup
.ol-popup:before {
	border-top-color: $popupBorderTopColorBefore;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}

// The x button to close the popup
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.ol-popup-closer:after {
	content: "x";
}
